body {
    background-image: url("https://chainimage.com/images/green-background-plain-green-background-plain-backgrounds.jpg");
}

.item-display-container {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-content: center;
    text-align:center;
    margin: 3% auto;
    width: 90%;
    height:80%;
}

.heading {
    font-size:2rem;
    font-family: 'Lora', serif;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    color:lightcoral;
    text-align:center;
    background-color: rgba(0,0,0,0.7);
    margin-top:3%;
    width: 300px;
    height: 60px;
    position: relative;
    left: 10%;
    border-style: solid;
    border-width: 2px;
    
}

.heading-text{
   padding: 10px;
}

.text1{
    font-size:1.5rem;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    color:lightcoral;
    font-family:cursive;
    text-align:center;
}

.search-bar {
    background: #b3a670;
    border-radius: 3%;
    border: 2px solid black;
    z-index:15;
    width:50%;
    margin:auto;
    color:black;
}

.searchbar-wrap {
    text-align:center;
    margin:auto;
}

.jumbotron {
    border-radius:5%;
    background: rgba( 0,0,0,0.7);
    -moz-box-shadow:    inset 0 0 60px #b3a670;
    -webkit-box-shadow: inset 0 0 60px #b3a670;
    box-shadow:         inset 0 0 60px #b3a670;
    padding-bottom: 150px;
}

.statement{
    color: white;
    text-align: justify;
}

.contact{
    text-align: left;
    margin-top: 2%;
}

.tech{
    margin-top: 1%;
    float: left;
}