body {
    background-image: url("https://chainimage.com/images/green-background-plain-green-background-plain-backgrounds.jpg");
}

.item-display-container {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-content: center;
    text-align:center;
    margin: 3% auto;
    width: 90%;
    height:80%;
}

.heading {
    font-size:2rem;
    font-family: 'Lora', serif;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    color:lightcoral;
    text-align:center;
    background-color: rgba(0,0,0,0.7);
    margin-top:3%;
    width: 300px;
    height: 60px;
    position: relative;
    left: 10%;
    border-style: solid;
    border-width: 2px;
    
}

.heading-text{
   padding: 10px;
}

.text1{
    font-size:1.5rem;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    color:lightcoral;
    font-family:cursive;
    text-align:center;
}

.search-bar {
    background: #b3a670;
    border-radius: 3%;
    border: 2px solid black;
    z-index:15;
    width:50%;
    margin:auto;
    color:black;
}

.searchbar-wrap {
    text-align:center;
    margin:auto;
}

.jumbotron1 {
    border-radius:5%;
    background: rgba( 0,0,0,0.7);
    -moz-box-shadow:    inset 0 0 60px #b3a670;
    -webkit-box-shadow: inset 0 0 60px #b3a670;
    box-shadow:         inset 0 0 60px #b3a670;
    padding-bottom: 250px;
}

.div1{
    height: auto;
    position: relative;
    left: 10%;
    top: 15px;
}

.project1{
    position: relative;
    top: 100px;
    right: 8%;
}

.div2{
    position: relative;
    top: 110px;
    right: 1%;
}

.TriviaGame{
    position: relative;
    top: 100px;
    right: 8%;
}

.div3{
    position: relative;
    bottom: 65px;
    left: 4%;
}

.psychic{
    position: relative;
    top: 105px;
    right: 9%;
}

.div4{
    position: relative;
    top: 40px;
    right: 7%;
}

.unit4{
    position: relative;
    top: 175px;
    right: 9%;
}

.div5{
    position: relative;
    bottom: 145px;
    right: 2%;
}

.gif{
    position: relative;
    top: 135px;
    right: 8%;
}

.div6{
    position: relative;
    bottom: 10px;
    right: 13%;
}

.project2{
    position: relative;
    top: 105px;
    right: 8%;
}

.div7{
    position: relative;
    bottom: 200px;
    right: 8%;
}

.clicky{
    position: relative;
    top: 105px;
    right: 8%;
}

.div8{
    position: relative;
    bottom: 90px;
    right: 19%;
}

.project3{
    position: relative;
    top: 170px;
    right: 8%;
}

.note{
    font-size:1.5rem;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    color:lightcoral;
    font-family:cursive;
    text-align:center;
    margin-top: 1%;
}

